* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217deg, 54%, 11%);
  font-family: "Outfit";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: hsl(216deg, 50%, 16%);
  height: 508px;
  width: 295px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 5px 21px 51px 2px rgba(13, 25, 43, 0.75);
}
@media screen and (max-width: 375px) {
  .card {
    margin-bottom: 4rem;
  }
}

.card__image {
  height: 280px;
  width: auto;
  border-radius: 21px;
  padding: 16px;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.image-overlay {
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transition: 0.25s ease;
  opacity: 0;
  background-color: hsla(178deg, 100%, 50%, 0.5);
}

.view-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.card__image:hover .image-overlay {
  opacity: 1;
  cursor: pointer;
}

.card__title {
  color: hsl(0deg, 0%, 100%);
  font-size: 1rem;
  margin-left: 1.5rem;
  font-weight: 500;
}

.card__description {
  color: hsl(215deg, 51%, 70%);
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.card__currency {
  margin: 1rem 1.5rem;
  color: hsl(178deg, 100%, 50%);
  font-size: 0.8rem;
  font-weight: 500;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__offer {
  margin-top: 0.9rem;
  color: hsl(215deg, 51%, 70%);
  font-weight: 400;
  font-size: 0.9rem;
  margin-left: 1.7rem;
  vertical-align: middle;
  white-space: nowrap;
}

.card__lower--profile {
  height: 32px;
  width: auto;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  border: 1px solid white;
  border-radius: 50%;
}

.divider {
  margin: 0.5rem 1.5rem;
  width: 82%;
  opacity: 0.1;
}

.card__lower--author span {
  color: hsl(215deg, 51%, 70%);
  font-weight: 500;
}

.card__lower--author {
  color: hsl(0deg, 0%, 100%);
  float: right;
  margin-top: 0.9rem;
  font-weight: 300;
  margin-right: 2.9rem;
}

i {
  vertical-align: middle;
  margin-right: 0.5rem;
}
